@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Container giống Bootstrap */
.container-fluid {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 350px) {
  .container-fluid {
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media (min-width: 1024px) {
  .container-fluid {
    padding-right: 36px;
    padding-left: 36px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 24px;
    padding-left: 24px;
  }
}
/* Màu chủ đạo */
:root {
  --green-bg: #16A34A;
  --dark-green: #14532D;
  --yellow-bg: #FFC107;
  --gradient-banner: linear-gradient(90deg, #14532D 0%, #157F3D 100%);
  --light-green-banner: #F0FDF4;

  --font-one: 'Roboto', sans-serif;
}

body
{
    font-family: var(--font-one);
}